@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Quicksand:wght@300..700&display=swap");

* {
  font-family: "Quicksand";
}

.navbar {
  padding: 20;
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid grey;
}

.navbar h1 {
  color: purple;
}

.navbar .links {
  margin-left: auto;
  transform: scale(1.25);
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  justify-content: center;
}

.navbar a:hover {
  color: purple;
}

.content {
  max-width: 90%;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid whitesmoke;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px palevioletred;
}

.blog-preview h2 {
  font-size: 20px;
  color: purple;
  margin-bottom: 8px;
}
